<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content__inner" th:fragment="ChangeStaffTimesheet">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Yêu cầu chỉnh timesheet của nhân viên</h2>
            <small class="card-subtitle"></small>
        </div>
        <div class="card-block">
            <form action="/timesheet/staff" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <label>Từ ngày </label>

                        <div class="form-group ">
                            <!--/*@thymesVar id="startDate" type="java"*/-->
                            <input type="hidden" id="searchStartDate" th:value="${startDate}">
                            <input type="text" class="form-control date"id="startDate" name="startDate" placeholder="mm/dd/yyyy">
                            <i class="form-group__bar"></i>
                            <p class="text-danger date "></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Tới ngày </label>

                        <div class="form-group ">
                            <!--/*@thymesVar id="endDate" type="java"*/-->
                            <input type="hidden" id="searchEndDate" th:value="${endDate}">
                            <input type="text" class="form-control date" id="endDate" name="endDate" placeholder="YYYY-MM-DD">
                            <i class="form-group__bar"></i>
                            <p class="text-danger date "></p>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 text-center">
                        <button type="submit" class="btn btn-secondary btn--icon-text mb-1 waves-effect">
                            <i class="zmdi zmdi-search "></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr class="text-uppercase">

                        <th scope="col">Người yêu cầu</th>
                        <th scope="col">mail</th>
                        <th scope="col">Ngày</th>
                        <th scope="col">Giờ vào</th>
                        <th scope="col">giờ ra</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Hủy</th>
                        <th scope="col">chấp nhận</th>

                    </tr>
                    </thead>

                    <!--/*@thymesVar id="timesheet" type="java"*/-->
                    <tbody th:each="list : ${timesheet}">
                    <tr>
                        <td th:utext="${list['name']}"></td>
                        <td th:utext="${list['mail']}"></td>
                        <td th:utext="${list['day']}"></td>
                        <td th:utext="${list['request_checkin']}"></td>
                        <td th:utext="${list['request_checkout']}"></td>
                        <td>
                            <span th:if="${list['feedback']} == null">chờ phê duyệt</span>
                            <span th:if="${list['feedback']} == 1">chấp thuận</span>
                            <span th:if="${list['feedback']} == 0">đã hủy</span>
                        </td>

                        <td>
                            <span th:if="${list['feedback']} == null"> <a th:href="@{/timesheet/staff(id=${list['id']},  requite = 0)}">cancel</a></span>
                            <span th:if="${list['feedback']} != null"></span>
                        </td>

                        <td>
                            <span th:if="${list['feedback']} == null">
                                <a th:href="@{/timesheet/staff(id=${list['id']}, date_check= ${list['day']}, checkin= ${list['request_checkin']}, checkout= ${list['request_checkout']}, requite = 1)}">approve</a></span>
                            <span th:if="${list['feedback']} != null"></span>
                        </td>

                    </tr>

                    </tbody>


                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>