<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content__inner" th:fragment="timesheet">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Timesheet của bạn</h2>
            <small class="card-subtitle"></small>
        </div>
        <div class="card-block">
            <form action="/timesheet" method="get">
                <div class="row">
                    <div class="col-md-4">
                        <label>Từ ngày </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <div class="form-group">

                                <!--/*@thymesVar id="startDate" type="java"*/-->
                                <input type="hidden" id="searchStartDate" th:value="${startDate}">
                                <input type="text" class="form-control date" id="startDate" name="startDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>Tới ngày </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>

                            <div class="form-group ">

                                <!--/*@thymesVar id="endDate" type="java"*/-->
                                <input type="hidden" id="searchEndDate" th:value="${endDate}">
                                <input type="text" class="form-control date" id="endDate" name="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-4 text-center">
                        <button type="submit" class="btn btn-secondary btn--icon-text mb-1 waves-effect">
                            <i class="zmdi zmdi-search "></i> Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-block">
            <span>Danh sách timesheet của bạn</span>
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr class="text-uppercase">
                        <th scope="col">Ngày</th>
                        <th scope="col">Giờ vào</th>
                        <th scope="col">Yêu ra</th>
                        <th scope="col">Chức năng</th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="timesheet" type="java"*/-->
                    <tbody th:each="list : ${timesheet}">

                         <span th:if="${list['check_in'] > '08:45:00'} or ${list['check_out'] < '17:30:00'}">
                             <tr class="table-warning">
                                 <td th:utext="${list['day']}"></td>
                                 <td th:utext="${list['check_in']}"></td>
                                 <td th:utext="${list['check_out']}"></td>
                                 <td><a th:href="@{/timesheet/forget(date_check=${list['day']})}">Chỉnh sửa</a></td>
                             </tr>
                         </span>

                         <span th:if="${list['check_in'] <= '08:45:00'} and ${list['check_out'] >= '17:30:00'}">
                             <tr>
                                 <td th:utext="${list['day']}"></td>
                                 <td th:utext="${list['check_in']}"></td>
                                 <td th:utext="${list['check_out']}"></td>
                                 <td><a th:href="@{/timesheet/forget(date_check=${list['day']})}">Chỉnh sửa</a></td>
                             </tr>
                         </span>



                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>