<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="home">
    <!-- Content page -->

    <div class="toolbar">
        <div class="toolbar__nav">
            <a href="#"
               class="active">
                Tháng 6</a>


        </div>
    </div><!--.toolbar-->

    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Yêu cầu từ nhân viên cần phê duyệt</h2>
                    <small class="card-subtitle">
                        Yêu cầu đang đợi bạn phê duyệt trong khoảng thời gian
                        <!--/*@thymesVar id="startDate" type="java"*/-->
                        <span th:utext="${startDate}"/> đến <!--/*@thymesVar id="endDate" type="java"*/-->
                        <span th:utext="${endDate}"/>.
                    </small>
                </div><!--.card-header-->
                <div class="card-block">

                    <!--/*@thymesVar id="listRequite" type="java"*/-->
                    <div th:if="${listRequite == null}">
                        <div class="no-request">
                            <div class="text-center">
                                <i class="zmdi zmdi-mood zmdi-hc-fw zmdi-hc-4x"></i>
                                <p style="margin: 0">Tuyệt! không có yêu cầu nào đợi bạn phê duyệt.</p>
                            </div>
                        </div>
                    </div>

                    <div th:if="${listRequite != null}">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr class="text-uppercase">
                                    <th scope="col">người yêu cầu</th>
                                    <th scope="col">mail</th>
                                    <th scope="col">loại yêu cầu</th>
                                    <th scope="col">Yêu cầu lúc</th>
                                    <th scope="col">hủy</th>
                                    <th scope="col">chấp thuận</th>
                                </tr>
                                </thead>
                                <!--/*@thymesVar id="listRequite" type="java.util.List"*/-->
                                <tbody th:each="list : ${listRequite}">
                                <tr>
                                    <td th:utext="${list['name']}"></td>
                                    <td th:utext="${list['mail']}"></td>

                                    <td>
                                        <span th:if="${list['type']} == 0">nghỉ phép</span>
                                        <span th:if="${list['type']} == 1">làm thêm giờ</span>
                                        <span th:if="${list['type']} == 2">chỉnh timesheet</span>
                                    </td>

                                    <td th:utext="${list['dayRequest']}"></td>


                                    <!--<td th:utext="${list['mailApprover']}"></td>-->

                                    <td>
                            <span th:if="${list['feedBack']} == null">
                                <a th:href="@{/home(id=${list['id']}, requite = 0)}">cancel</a></span>
                                        <span th:if="${list['feedBack']} != null"></span>
                                    </td>

                                    <td>
                            <span th:if="${list['feedBack']} == null">
                                <a th:href="@{/home(id=${list['id']}, requite = 1)}">approve</a></span>
                                        <span th:if="${list['feedBack']} != null"></span>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>


                </div><!--.card-block-->
            </div><!--.card-->
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ngày có timesheet bất thường</h2>
                    <small class="card-subtitle">Ngày bạn đi muộn, về sớm hoặc quên check vân tay trong khoảng thời gian
                        <!--/*@thymesVar id="startDate" type="java"*/-->
                        <span th:utext="${startDate}"/> đến
                        <!--/*@thymesVar id="endDate" type="java"*/-->
                        <span th:utext="${endDate}"/>.
                    </small>
                    <div class="actions">
                        <a href="/timesheet" title="Timesheet In Month"
                           class="actions__item zmdi zmdi-arrow-right"></a>
                    </div>
                </div><!--.card-header-->
                <div class="card-block">

                    <div class="table-responsive">
                        <table class="table table-hover table-sm mb-0">
                            <thead>
                            <tr class="text-uppercase">
                                <th scope="col">Thứ</th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Giờ vào</th>
                                <th scope="col">Giờ ra</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <!--/*@thymesVar id="listTimesheetIrregular" type="java"*/-->
                            <tbody th:each="list : ${listTimesheetIrregular}">

                            <tr>
                                <td>T<span th:utext="${list['weekday']}"/></td>
                                <td th:utext="${list['day']}"></td>

                                <span th:if="${list['check_in'] > '08:45:00'}">
                                    <td th:utext="${list['check_in']}" class="text-warning"/>
                                </span>

                                <span th:if="${list['check_in'] <= '08:45:00'}">
                                    <td th:utext="${list['check_in']}"/>
                                </span>

                                <span th:if="${list['check_out'] < '17:30:00'}">
                                    <td th:utext="${list['check_out']}" class="text-warning"/>
                                </span>

                                <span th:if="${list['check_out'] > '17:30:00'}">
                                    <td th:utext="${list['check_out']}"/>
                                </span>

                                <td>
                                    <div class="actions listview__actions">
                                        <div class="dropdown actions__item">
                                            <i class="zmdi zmdi-more-vert" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" th:href="@{/timesheet/forget(date_check=${list['day']})}">
                                                    Chỉnh sửa
                                                </a>
                                                <a class="dropdown-item"
                                                   href="/vacation">
                                                    Xin nghỉ phép
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div><!--.table-responsive-->

                    <a href="/timesheet" class="view-more">
                        Timesheet In Month
                    </a>
                </div><!--.card-block-->
            </div><!--.card-->
        </div><!--.col-md-6-->

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Số ngày phép còn lại</h2>
                    <small class="card-subtitle">
                        Số ngày phép còn lại của bạn tính đến <!--/*@thymesVar id="endDate" type="java"*/-->
                        <span th:utext="${endDate}"/>.

                    </small>
                </div>
                <div class="card-block">
                    <div class="widget-visitors__stats">
                        <div>
                            <!--/*@thymesVar id="number_vacation" type="java"*/-->
                            <strong>
                                <span th:utext="${number_vacation}"/>
                            </strong>
                            <small>phép năm</small>
                        </div>

                        <div>
                            <strong>
                                <!--/*@thymesVar id="permission" type="java"*/-->
                                <span th:if="${permission < 0}" th:utext="0"/>
                                <span th:if="${permission > 0}" th:utext="${permission}"/>
                            </strong>
                            <small>phép năm còn lại</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ngày xin nghỉ phép</h2>
                    <small class="card-subtitle"><a href="/vacation">Yêu cầu nghỉ phép</a> trong khoảng thời gian
                        <!--/*@thymesVar id="startDate" type="java"*/-->
                        <span th:utext="${startDate}"/> đến <!--/*@thymesVar id="endDate" type="java"*/-->
                        <span th:utext="${endDate}"/>.
                    </small>
                    <div class="actions">
                        <a href="/vacation" title="Timesheet In Month"
                           class="actions__item zmdi zmdi-arrow-right"></a>
                    </div>
                </div>
                <div class="card-block">

                    <!--/*@thymesVar id="listRequiteVacation" type="java"*/-->
                    <div th:if="${listRequiteVacation == null}">
                        <div class="no-request">
                            <div class="text-center">
                                <i class="zmdi zmdi-mood zmdi-hc-fw zmdi-hc-4x"></i>
                                <p style="margin: 0">wow! chưa thấy ai chăm như bạn.</p>
                            </div>
                        </div>
                    </div>


                    <div th:if="${listRequiteVacation != null}">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr class="text-uppercase">
                                    <th scope="col">id</th>
                                    <th scope="col">ngày bắt đầu</th>
                                    <th scope="col">ngày kết thúc</th>
                                    <th scope="col">số lượng</th>
                                    <th scope="col">trạng thái</th>
                                </tr>
                                </thead>
                                <!--/*@thymesVar id="listRequite" type="java.util.List"*/-->
                                <tbody th:each="list : ${listRequiteVacation}">
                                <tr>
                                    <td th:utext="${list['id']}"></td>
                                    <td th:utext="${list['startDay']}"></td>
                                    <td th:utext="${list['endDay']}"></td>
                                    <td th:utext="${list['numberDate']}"></td>

                                    <td>
                                        <a th:href="@{/home(id=${list['id']}, requite = 0)}">cancel</a>
                                    </td>

                                </tbody>
                            </table>
                        </div>

                    </div>

                    <a href="/vacation" class="view-more">Request Dayoff In
                        Month</a>
                </div><!--.card-block-->
            </div><!--.card-->

            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ngày nghỉ lễ</h2>
                    <small class="card-subtitle">Ngày nghỉ lễ vẫn được tính lương còn lại từ ngày
                        <!--/*@thymesVar id="endDate" type="java"*/-->
                        <span th:utext="${endDate}"/> đến hết
                        năm.
                    </small>
                </div><!--.card-header-->
                <div class="card-block">

                    <table class="table mb-0">
                        <thead>
                        <tr class="text-uppercase">
                            <th>Ngày</th>
                            <th>Tên ngày lễ</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td>2019-09-02</td>
                            <td>Quốc Khánh 2019
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div><!--.card-block-->
            </div><!--.card-->
        </div><!--.col-md-6-->
    </div>

</div>

</body>
</html>