<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content__inner" th:fragment="EditEmployee">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title" align="center">Sửa thông tin nhân viên</h2>
            <small class="card-subtitle"></small>
        </div>
        <div class="card-block">
            <form action="/staff/edit" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <label>Họ <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="ho" type="java"*/-->
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nguyễn" th:value="${ho}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Đệm <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="dem" type="java"*/-->
                            <input type="text" class="form-control" id="middle_name" name="middle_name" placeholder="Thị" th:value="${dem}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Tên <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="ten" type="java"*/-->
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Uyên" th:value="${ten}">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Mail <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="mail" type="java"*/-->
                            <input type="text" class="form-control" id="mail" name="mail" placeholder="uyen@vnext.com.vn" th:value="${mail}" disabled>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Mã vân tay <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="maVT" type="java"*/-->
                            <input type="text" class="form-control" id="code_fingerprint" name="code_fingerprint" placeholder="360" th:value="${maVT}">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Mã nhân viên <span class="text-danger">*</span></label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="maNV" type="java"*/-->
                            <input type="text" class="form-control" id="code" name="code" placeholder="VN00011" th:value="${maNV}" disabled>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label>Loại hợp đồng</label>
                        <div class="form-group">
                            <select name="contract" id="contract" class="select2 form-control" >


                                <!--/*@thymesVar id="contract" type="java"*/-->
                                <!--/*@thymesVar id="hop_dong" type="java"*/-->
                                <option th:each="list : ${contract}" th:selected="${list['id']} == ${hop_dong}"
                                        th:if="${list['id']}" th:value="${list['id']}" th:utext="${list['name']}"></option>

                            </select>
                            <p class="text-danger"></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Phòng ban</label>
                        <div class="form-group">
                            <select name="division" id="division" class="select2 form-control" >


                                <!--/*@thymesVar id="department" type="java"*/-->
                                <!--/*@thymesVar id="phong_ban" type="java"*/-->
                                <option th:each="list : ${department}" th:value="${list['id']}" th:selected="${list['id']} == ${phong_ban}"
                                        th:utext="${list['name']}"></option>

                            </select>
                            <p class="text-danger"></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>team</label>
                        <div class="form-group ">
                            <select name="team" id="team" class="select2 form-control" >

                                <!--/*@thymesVar id="team" type="java"*/-->
                                <!--/*@thymesVar id="team_" type="java"*/-->
                                <option th:each="list : ${team}" th:value="${list['id']}" th:selected="${list['id']} == ${team_}"
                                        th:utext="${list['name']}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                
                    
                <div class="row">
                    <div class="col-md-4">
                        <label>Ngày gia nhập</label>
                        <div class="form-group">
                            <!--/*@thymesVar id="start" type="java"*/-->
                            <input type="date" class="form-control" id="start_working" name="start_working" placeholder="mm/dd/yyyy" th:value="${start}">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Ngày chính thức</label>
                        <div class="form-group">
                            <!--/*@thymesVar id="main" type="java"*/-->
                            <input type="date" class="form-control " id="start_working_main" name="start_working_main" placeholder="mm/dd/yyyy" th:value="${main}">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>Ngày nghỉ việc</label>
                        <div class="form-group ">
                            <!--/*@thymesVar id="end" type="java"*/-->
                            <input type="date" class="form-control " id="start_working_end" name="start_working_end" placeholder="mm/dd/yyyy" th:value="${end}">
                            <i class="form-group__bar"></i>
                        </div>
                    </div>
                </div>


                <!--/*@thymesVar id="code" type="java"*/-->
                <input type="hidden" name="code" th:value="${code}">
                <div class="row">
                    <div class="col-md-12" style=" margin-top: 50px;">
                        <button type="submit" class="btn btn-primary" style="margin-left: 45%;">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>