<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content__inner" th:fragment="ListEmployees">
    <div class="card" style="margin-bottom: 0!important;">
        <div class="card-header">
            <h2 class="card-title">Danh sách nhân viên</h2>
            <small class="card-subtitle"></small>
        </div>
        <div class="card-block">
            <form action="/staff/filter" method="post">
                <div class="row">
                    <div class="col-md-3">
                        <label>Chọn phòng ban</label>
                        <div class="form-group">
                            <select name="division" id="division" class="select2 form-control" data-placeholder="Chọn người duyệt phép">

                                <option  value="">tất cả</option>

                                <!--/*@thymesVar id="department" type="java"*/-->
                                <!--/*@thymesVar id="phong_ban" type="java"*/-->
                                <option th:each="list : ${department}" th:value="${list['id']}"  th:selected="${list['id']} == ${phong_ban}"
                                        th:utext="${list['name']}"></option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Loại hợp đồng </label>
                        <div class="form-group ">
                            <select name="contract" id="contract" class="select2 form-control">
                                <option  value="">tất cả</option>

                                <!--/*@thymesVar id="contract" type="java"*/-->
                                <!--/*@thymesVar id="hop_dong" type="java"*/-->
                                <option th:each="list : ${contract}" th:value="${list['id']}"  th:selected="${list['id']} == ${hop_dong}"
                                        th:utext="${list['name']}"></option>
                            </select>
                            <p class="text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Giới tính </label>
                        <div class="form-group ">
                            <select name="gender" id="gender" class="select2 form-control">
                                <option  value="">tất cả</option>

                                <!--/*@thymesVar id="team" type="java"*/-->
                                <!--/*@thymesVar id="gioi_tinh" type="java"*/-->
                                <option th:each="list : ${team}" th:value="${list['id']}"  th:selected="${list['id']} == ${gioi_tinh}"
                                        th:utext="${list['name']}"></option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 mt-4 text-center">
                        <button type="submit" class="btn btn-secondary btn--icon-text mb-1 waves-effect">
                            <i class="zmdi zmdi-filter-list "></i> lọc
                        </button>
                    </div>
                </div>

                <!--<div class="row">-->
                    <!--<div class="col-md-12">-->
                        <!--<div class="input-group space_layout">-->
                            <!--<span class="input-group-addon "><i class="zmdi zmdi-search"></i></span>-->
                            <!--<input type="text" class="form-control " id="search" name="search" placeholder="Search for record...">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </form>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="card-title">Total number of records: <!--/*@thymesVar id="count" type="java"*/-->
            <span th:utext="${count}"></span></span>
            <small class="card-subtitle"></small>
        </div>

        <div class="card-block">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                    <tr class="text-uppercase">
                        <th scope="col">#</th>
                        <th scope="col">Họ Tên</th>
                        <th scope="col">Mã vân tay</th>
                        <th scope="col">Mã nhân viên</th>
                        <th scope="col">Thư điện tử</th>
                        <th scope="col">Phòng ban</th>
                        <th scope="col">Loại</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Ngày vào công ty</th>
                        <th scope="col">Ngày chính thức</th>
                        <th scope="col">Ngày nghỉ việc</th>
                        <th scope="col">chức năng</th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="listStaff" type="java"*/-->
                    <tbody th:each="list : ${listStaff}">
                    <tr>
                        <td th:utext="${list['id']}"></td>
                        <td th:utext="${list['name']}"></td>
                        <td th:utext="${list['p_id']}"></td>
                        <td th:utext="${list['code']}"></td>
                        <td th:utext="${list['mail']}"></td>
                        <td>
                            <span th:if="${list['id_department']} == 1">D1</span>
                            <span th:if="${list['id_department']} == 2">D2</span>
                            <span th:if="${list['id_department']} == 3">D3</span>
                            <span th:if="${list['id_department']} == 4">BO</span>

                        </td>

                        <td>
                            <span th:if="${list['id_contract']} == 1">thực tập</span>
                            <span th:if="${list['id_contract']} == 2">thử việc</span>
                            <span th:if="${list['id_contract']} == 3">chính thức</span>
                        </td>

                        <td>
                            <span th:if="${list['gioi_tinh']} == 1">nam</span>
                            <span th:if="${list['gioi_tinh']} == 2">nữ</span>
                        </td>

                        <td>
                            <span th:if="${list['day_start']} == null"></span>
                            <span th:if="${list['day_start']} != null"  th:utext="${list['day_start']}"></span>
                        </td>

                        <td>
                            <span th:if="${list['day_main']} == null"></span>
                            <span th:if="${list['day_main']} != null"  th:utext="${list['day_main']}"></span>
                        </td>

                        <td>
                            <span th:if="${list['day_end']} == null"></span>
                            <span th:if="${list['day_end']} != null"  th:utext="${list['day_end']}"></span>
                        </td>

                        <td>
                            <a th:href="@{/staff/edit(code=${list['code']})}">chỉnh sửa</a>
                        </td>

                    </tr>

                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>
</body>
</html>