<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</bod>
<div class="content__inner" th:fragment="requiteOtOfAllEmployees">

    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Timesheet của nhân viên</h2>
        </div>

        <div class="card-block">
            <form action="" method="get">

                <div class="row">

                    <div class="col-md-3">
                        <label>Chọn phòng ban </label>
                        <div class="form-group">
                            <select name="to_uid" id="uid" class="select2 form-control" data-placeholder="D1">

                                <option value="all">Tất cả</option>

                                <option value="d1">D1</option>

                                <option value="d2">D2</option>

                                <option value="d3">D3</option>

                                <option value="bo">BO</option>


                            </select>
                            <p class="text-danger uid"></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Từ ngày </label>
                        <div class="form-group ">
                            <input type="text" class="form-control start_date" id="startDateOt" name="startDateOt"
                                   placeholder="yyyy-mm-dd">
                            <i class="form-group__bar"></i>
                            <p class="text-danger date "></p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label>Tới ngày </label>
                        <div class="form-group ">
                            <input type="text" class="form-control end_date" id="endDateOt" name="endDateOt"
                                   placeholder="yyyy-mm-dd">
                            <i class="form-group__bar"></i>
                            <p class="text-danger date "></p>
                        </div>
                    </div>


                    <div class="col-md-3 mt-4 text-center">
                        <button type="submit" class="btn btn-secondary btn--icon-text mb-1 waves-effect">
                            <i class="zmdi zmdi-filter-list "></i> lọc
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h2 class="card-title" id="request-list">Yêu cầu làm thêm của nhân viên</h2>
            <div style="padding-top: 10px;">Yêu cầu làm thêm cần được bạn phê duyệt</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group space_layout">
                        <span class="input-group-addon "><i class="zmdi zmdi-search"></i></span>
                        <!--/*@thymesVar id="search" type="java"*/-->
                        <input type="text" class="form-control " id="search" name="search" th:value="${search}"
                               placeholder="Search for record...">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block">

<span>Total number of records:  <!--/*@thymesVar id="count" type="java"*/-->
            <span th:utext="${count}"></span></span>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="text-uppercase">
                        <th scope="col">người yêu cầu</th>
                        <th scope="col">mail</th>
                        <th scope="col">Ngày bắt đầu</th>
                        <th scope="col">Ngày kết thúc</th>
                        <th scope="col">Thời lượng</th>
                        <th scope="col">lí do</th>
                        <th scope="col">Yêu cầu lúc</th>
                        <th scope="col">Trạng thái</th>
                        <th scope="col">Người phê duyệt</th>
                        <th scope="col">hủy</th>
                        <th scope="col">chấp thuận</th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="listRequite" type="java.util.List"*/-->
                    <tbody th:each="list : ${listRequite}">
                    <tr>
                        <td th:utext="${list['name']}"></td>
                        <td th:utext="${list['mail']}"></td>
                        <td th:utext="${list['startDay']}"></td>
                        <td th:utext="${list['endDay']}"></td>
                        <td th:utext="${list['numberDate']}"></td>
                        <td th:utext="${list['reason']}"></td>
                        <td th:utext="${list['dayRequest']}"></td>
                        <td>
                            <span th:if="${list['feedBack']} == null">cho phe duyet</span>
                            <span th:if="${list['feedBack']} == 1">chấp thuận</span>
                            <span th:if="${list['feedBack']} == 0">đã hủy</span>
                        </td>

                        <td th:utext="${list['mailApprover']}"></td>
                        <td>
                                <span th:if="${list['feedBack']} == null"> <a
                                        th:href="@{/request/staff/ot(id=${list['id']}, requite = 0)}">cancel</a></span>
                            <span th:if="${list['feedBack']} != null"></span>
                        </td>

                        <td>
                            <span th:if="${list['feedBack']} == null">
                                <a th:href="@{/request/staff/ot(id=${list['id']}, requite = 1)}">approve</a></span>
                            <span th:if="${list['feedBack']} != null"></span>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div><!--.card-->

</div>
</body>
</html>